.header {
  height: 160px;
  /*手机顶部的信息栏会占位置*/
  padding-top: 20px;
}
.top-wrapper {
  display: flex;
}
.back-wrapper {
  width: 50px;
  height: 31px;
  background: red;
}
.search-wrapper {
  flex: 1;
  height: 31px;
  background: #9a9a9a;
}
.more-wrapper {
  width: 104px;
  height: 31px;
  background: blue;
}
